{% extends 'base.html' %}

{% load static %}


{% block title %}
    Lista dos contatos
{% endblock title %}


{% block content %}

<div class="container">
    <h2>Lista de Contatos</h2>
    <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>Cidade</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
          {% for contato in contato_list %}
        <tr>
          <td><a href="{% url 'contato-edita' contato.pk %}" class="list-group-item-action list-group-item-light">{{ contato.nome }}</a></td>
          <td>{{ contato.apelido }}</td>
          <td>{{ contato.cidade }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.mobile }}</td>
          <td>{{ contato.email }}</td>
          <td><a href="{% url 'contato-remover' contato.pk %}"><i class="fa fa-trash" ></i></a></td>
        </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}

{% block script %}
{% endblock script %}